<amw-validation-doc
  componentName="amw-timepicker"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="timepicker-validation__form">
      <amw-timepicker
        label="Start Time *"
        formControlName="startTime"
        placeholder="Select start time"
        [required]="true"
        [errorMessage]="getTimeError('startTime')">
      </amw-timepicker>

      <amw-timepicker
        label="End Time *"
        formControlName="endTime"
        placeholder="Select end time"
        [required]="true"
        [errorMessage]="getTimeError('endTime')">
      </amw-timepicker>

      <amw-timepicker
        label="Break Time *"
        formControlName="breakTime"
        placeholder="Select break time"
        format="12h"
        [required]="true"
        [errorMessage]="getTimeError('breakTime')">
      </amw-timepicker>

      <amw-timepicker
        label="Meeting Time *"
        formControlName="meetingTime"
        placeholder="Select meeting time"
        [showSeconds]="true"
        [required]="true"
        [errorMessage]="getTimeError('meetingTime')">
      </amw-timepicker>
    </div>
  </ng-template>
</amw-validation-doc>
