<amw-code-doc
  componentName="amw-radio-group"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-radio-group
          [(ngModel)]="selectedOption"
          [options]="[
            { value: '1', label: 'Option 1' },
            { value: '2', label: 'Option 2' },
            { value: '3', label: 'Option 3' }
          ]">
        </amw-radio-group>
      }
      @case ('colors') {
        <amw-radio-group
          color="primary"
          [options]="[
            { value: 'primary', label: 'Primary' },
            { value: 'accent', label: 'Accent' },
            { value: 'warn', label: 'Warn' }
          ]">
        </amw-radio-group>
      }
      @case ('disabled') {
        <amw-radio-group
          [options]="[
            { value: '1', label: 'Enabled' },
            { value: '2', label: 'Disabled', disabled: true },
            { value: '3', label: 'Enabled' }
          ]">
        </amw-radio-group>
      }
      @case ('labelPosition') {
        <amw-radio-group
          [options]="[
            { value: '1', label: 'Label before' },
            { value: '2', label: 'Label after' }
          ]">
        </amw-radio-group>
      }
      @case ('ngModel') {
        <amw-radio-group
          [(ngModel)]="selectedSeason"
          [options]="seasons">
        </amw-radio-group>
        <p>Your favorite season is: {{selectedSeason}}</p>
      }
      @case ('events') {
        <amw-radio-group
          (selectionChange)="onRadioChange($event)"
          [options]="[
            { value: '1', label: 'Option 1' },
            { value: '2', label: 'Option 2' },
            { value: '3', label: 'Option 3' }
          ]">
        </amw-radio-group>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Open your browser console to see event logs</span>
        </div>
      }
      @case ('dynamicOptions') {
        <amw-radio-group
          [(ngModel)]="selectedColor"
          [options]="seasons">
        </amw-radio-group>
      }
    }
  </ng-template>
</amw-code-doc>
