<amw-validation-doc
  componentName="amw-chip-input"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-row">
      <amw-chip-input
        formControlName="requiredSkills"
        [suggestions]="suggestions"
        [hasError]="hasChipError('requiredSkills')"
        [errorMessage]="getFieldError('requiredSkills')"
        label="Required Skills"
        placeholder="Add a skill..."
        hint="Select at least one skill (required)">
      </amw-chip-input>
    </div>

    <div class="form-row">
      <amw-chip-input
        formControlName="optionalSkills"
        [suggestions]="suggestions"
        label="Optional Skills"
        placeholder="Add additional skills..."
        hint="Additional skills (optional)">
      </amw-chip-input>
    </div>

    <div class="form-state">
      <h4>Form State</h4>
      <pre>{{ validationForm.value | json }}</pre>
      <p>Valid: {{ validationForm.valid }}</p>
      <p>Touched: {{ validationForm.touched }}</p>
    </div>
  </ng-template>
</amw-validation-doc>
