<amw-code-doc
  componentName="amw-input"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-input
          label="Basic Input"
          placeholder="Enter text"
          [(ngModel)]="basicValue">
        </amw-input>
      }
      @case ('withLabel') {
        <amw-input
          label="Fill Appearance"
          placeholder="Placeholder text"
          appearance="fill">
        </amw-input>

        <amw-input
          label="Outline Appearance"
          placeholder="Placeholder text"
          appearance="outline">
        </amw-input>
      }
      @case ('withHint') {
        <amw-input
          label="Username"
          placeholder="Enter username"
          hint="Choose a unique username">
        </amw-input>
      }
      @case ('withError') {
        <amw-input
          label="Email"
          type="email"
          placeholder="email@example.com"
          [(ngModel)]="emailValue"
          [required]="true">
        </amw-input>
      }
      @case ('withIcon') {
        <amw-input
          label="Search"
          placeholder="Search..."
          startIcon="search">
        </amw-input>

        <amw-input
          label="Amount"
          type="number"
          placeholder="0"
          prefix="$ "
          suffix=".00">
        </amw-input>
      }
      @case ('disabled') {
        <amw-input
          label="Disabled Input"
          [disabled]="true"
          [value]="disabledValue">
        </amw-input>

        <amw-input
          label="Readonly Input"
          [readonly]="true"
          [value]="readonlyValue">
        </amw-input>
      }
      @case ('textarea') {
        <amw-textarea
          label="Description"
          [rows]="4"
          placeholder="Enter description">
        </amw-textarea>
      }
    }
  </ng-template>
</amw-code-doc>
