<amw-code-doc
  componentName="amwSort"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows basic sort directive usage</span>
        </div>
      }
      @case ('withTable') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for sorting with AmwTable</span>
        </div>
      }
      @case ('programmatic') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for programmatic sort control</span>
        </div>
      }
      @case ('disabled') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for disabling sort functionality</span>
        </div>
      }
      @case ('sortHeader') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Sort headers provide visual indicators and click handling for sorting</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
