<div class="amw-demo-sort-code">
  <div class="code-section">
    <h3 class="code-section__title">Basic Usage</h3>
    <pre class="code-block"><code>{{ editableCode['basic'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">With Table</h3>
    <pre class="code-block"><code>{{ editableCode['withTable'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Programmatic Control</h3>
    <pre class="code-block"><code>{{ editableCode['programmatic'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Disabled Sort</h3>
    <pre class="code-block"><code>{{ editableCode['disabled'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Sort Header Component</h3>
    <pre class="code-block"><code>{{ editableCode['sortHeader'] }}</code></pre>
  </div>
</div>
