<amw-code-doc
  componentName="amw-paginator"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-paginator
          [length]="basicLength"
          [pageSize]="basicPageSize"
          [pageIndex]="basicPageIndex"
          (page)="onBasicPageChange($event)">
        </amw-paginator>
        <p>Page {{ basicPageIndex + 1 }} of {{ Math.ceil(basicLength / basicPageSize) }}</p>
        <p>Showing items {{ basicPageIndex * basicPageSize + 1 }} - {{ Math.min((basicPageIndex + 1) * basicPageSize, basicLength) }} of {{ basicLength }}</p>
      }
      @case ('pageSizeOptions') {
        <amw-paginator
          [length]="optionsLength"
          [pageSize]="optionsPageSize"
          [pageIndex]="optionsPageIndex"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="onOptionsPageChange($event)">
        </amw-paginator>
        <p>Page {{ optionsPageIndex + 1 }} of {{ Math.ceil(optionsLength / optionsPageSize) }}</p>
        <p>Page size: {{ optionsPageSize }} items per page</p>
      }
      @case ('firstLast') {
        <amw-paginator
          [length]="firstLastLength"
          [pageSize]="firstLastPageSize"
          [pageIndex]="firstLastPageIndex"
          [showFirstLastButtons]="true"
          (page)="onFirstLastPageChange($event)">
        </amw-paginator>
        <p>Page {{ firstLastPageIndex + 1 }} of {{ Math.ceil(firstLastLength / firstLastPageSize) }}</p>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Use the double arrow buttons to jump to first or last page</span>
        </div>
      }
      @case ('hidePageSize') {
        <amw-paginator
          [length]="hidePageSizeLength"
          [pageSize]="hidePageSizeValue"
          [pageIndex]="hidePageSizeIndex"
          [hidePageSize]="true"
          (page)="onHidePageSizeChange($event)">
        </amw-paginator>
        <p>Page {{ hidePageSizeIndex + 1 }} of {{ Math.ceil(hidePageSizeLength / hidePageSizeValue) }}</p>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>The page size selector is hidden - page size is fixed at {{ hidePageSizeValue }}</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
