<amw-validation-doc
  componentName="amw-file-input"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-field">
      <label>Profile Image (Required)</label>
      <amw-file-input
        formControlName="profileImage"
        [accept]="'image/*'"
        [maxSize]="5 * 1024 * 1024"
        [maxFiles]="1"
        [multiple]="false"
        [selectedFiles]="profileImage"
        (filesChange)="profileImage = $event"
        [hasError]="hasFileError('profileImage')"
        [errorMessage]="getFileError('profileImage')"
        placeholder="Upload profile image (max 5MB)"
        buttonText="Choose Image">
      </amw-file-input>
      @if (hasFileError('profileImage')) {
        <div class="error-message">{{ getFileError('profileImage') }}</div>
      }
    </div>

    <div class="form-field">
      <label>Documents (Required, 1-3 files)</label>
      <amw-file-input
        formControlName="documents"
        [accept]="'.pdf,.doc,.docx'"
        [maxSize]="10 * 1024 * 1024"
        [maxFiles]="3"
        [multiple]="true"
        [selectedFiles]="documents"
        (filesChange)="documents = $event"
        [hasError]="hasFileError('documents')"
        [errorMessage]="getFileError('documents')"
        placeholder="Upload documents (PDF, DOC, DOCX)"
        buttonText="Choose Documents">
      </amw-file-input>
      @if (hasFileError('documents')) {
        <div class="error-message">{{ getFileError('documents') }}</div>
      }
    </div>

    <div class="form-field">
      <label>Attachments (Optional, max 5 files)</label>
      <amw-file-input
        formControlName="attachments"
        [accept]="'*/*'"
        [maxSize]="20 * 1024 * 1024"
        [maxFiles]="5"
        [multiple]="true"
        [selectedFiles]="attachments"
        (filesChange)="attachments = $event"
        [hasError]="hasFileError('attachments')"
        [errorMessage]="getFileError('attachments')"
        placeholder="Upload attachments (any type)"
        buttonText="Choose Files">
      </amw-file-input>
      @if (hasFileError('attachments')) {
        <div class="error-message">{{ getFileError('attachments') }}</div>
      }
    </div>
  </ng-template>
</amw-validation-doc>
