<amw-code-doc
  componentName="amw-select"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-select
          label="Favorite food"
          [(ngModel)]="selectedFood"
          [options]="foods">
        </amw-select>
      }
      @case ('withValue') {
        <amw-select
          label="Select your car"
          [(ngModel)]="selectedCar"
          [options]="cars">
        </amw-select>
        <p>You selected: {{selectedCar}}</p>
      }
      @case ('multiple') {
        <amw-select
          label="Toppings"
          [multiple]="true"
          [(ngModel)]="selectedMultiple"
          [options]="toppings">
        </amw-select>
      }
      @case ('optGroups') {
        <amw-select
          label="Pokemon"
          [groups]="pokemonGroups">
        </amw-select>
      }
      @case ('disabled') {
        <amw-select
          label="Disabled select"
          [disabled]="true"
          [options]="[
            { value: 'option1', label: 'Option 1' },
            { value: 'option2', label: 'Option 2' }
          ]">
        </amw-select>
      }
      @case ('customTrigger') {
        <amw-select
          label="Favorite food"
          [options]="foods">
        </amw-select>
      }
      @case ('errorState') {
        <amw-select
          label="Favorite food"
          [(ngModel)]="selectedValue"
          [required]="true"
          [options]="foods">
        </amw-select>
      }
    }
  </ng-template>
</amw-code-doc>
