<amw-validation-doc
  componentName="amw-range-slider"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-field">
      <label>Price Range ($0 - $1000)</label>
      <amw-range-slider
        formControlName="priceRange"
        [min]="0"
        [max]="1000"
        [step]="10"
        [showTicks]="true"
        [showLabels]="true"
        startThumbLabel="Min Price"
        endThumbLabel="Max Price"
        [hasError]="hasRangeError('priceRange')"
        [errorMessage]="getErrorMessage('priceRange')">
      </amw-range-slider>
      @if (hasRangeError('priceRange')) {
        <div class="error-message">{{ getErrorMessage('priceRange') }}</div>
      }
    </div>

    <div class="form-field">
      <label>Age Range (18 - 100 years)</label>
      <amw-range-slider
        formControlName="ageRange"
        [min]="18"
        [max]="100"
        [step]="1"
        [showTicks]="true"
        [showLabels]="true"
        startThumbLabel="Min Age"
        endThumbLabel="Max Age"
        [hasError]="hasRangeError('ageRange')"
        [errorMessage]="getErrorMessage('ageRange')">
      </amw-range-slider>
      @if (hasRangeError('ageRange')) {
        <div class="error-message">{{ getErrorMessage('ageRange') }}</div>
      }
    </div>

    <div class="form-field">
      <label>Temperature Range (-50 to 100 degrees)</label>
      <amw-range-slider
        formControlName="temperatureRange"
        [min]="-50"
        [max]="100"
        [step]="1"
        [showTicks]="true"
        [showLabels]="true"
        startThumbLabel="Min Temp"
        endThumbLabel="Max Temp"
        [hasError]="hasRangeError('temperatureRange')"
        [errorMessage]="getErrorMessage('temperatureRange')">
      </amw-range-slider>
      @if (hasRangeError('temperatureRange')) {
        <div class="error-message">{{ getErrorMessage('temperatureRange') }}</div>
      }
    </div>
  </ng-template>
</amw-validation-doc>
