<amw-code-doc
  componentName="amw-timepicker"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-timepicker
          [(value)]="selectedTime"
          (timeChange)="onTimeChange($event)">
        </amw-timepicker>
        <p>Selected time: {{ selectedTime }}</p>
      }
      @case ('format') {
        <amw-timepicker
          [(value)]="time12h"
          format="12h"
          (timeChange)="onTimeChange($event)">
        </amw-timepicker>
        <p>Selected time: {{ time12h }}</p>
      }
      @case ('seconds') {
        <amw-timepicker
          [(value)]="timeWithSeconds"
          [showSeconds]="true"
          (timeChange)="onTimeChange($event)">
        </amw-timepicker>
        <p>Selected time: {{ timeWithSeconds }}</p>
      }
      @case ('validation') {
        <form [formGroup]="timeForm">
          <amw-timepicker
            formControlName="time"
            label="Select Time *"
            placeholder="Choose time"
            [required]="true"
            [errorMessage]="timeForm.get('time')?.hasError('required') ? 'Time is required' : ''">
          </amw-timepicker>
        </form>
        <p>Form valid: {{ timeForm.valid ? 'Yes' : 'No' }}</p>
      }
      @case ('configuration') {
        <amw-timepicker
          [(value)]="advancedTime"
          color="accent"
          size="large"
          [disabled]="isDisabled"
          (timeChange)="onTimeChange($event)">
        </amw-timepicker>
        <p>Selected time: {{ advancedTime }}</p>
        <amw-button appearance="text" (click)="isDisabled = !isDisabled">
          {{ isDisabled ? 'Enable' : 'Disable' }} Timepicker
        </amw-button>
      }
    }
  </ng-template>
</amw-code-doc>
