<amw-code-doc
  componentName="amw-tabs"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-tabs>
          <amw-tab label="First">Content 1</amw-tab>
          <amw-tab label="Second">Content 2</amw-tab>
          <amw-tab label="Third">Content 3</amw-tab>
        </amw-tabs>
      }
      @case ('icons') {
        <amw-tabs>
          <amw-tab label="Home" icon="home">Home content</amw-tab>
          <amw-tab label="Profile" icon="person">Profile content</amw-tab>
          <amw-tab label="Settings" icon="settings">Settings content</amw-tab>
        </amw-tabs>
      }
      @case ('lazy') {
        <amw-tabs>
          <amw-tab label="Eager">This content is loaded immediately</amw-tab>
          <amw-tab label="Lazy">This content is lazy loaded</amw-tab>
        </amw-tabs>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Note: Lazy loading requires matTabContent directive</span>
        </div>
      }
      @case ('dynamic') {
        <amw-tabs [(selectedIndex)]="selectedIndex">
          @for (tab of dynamicTabs; track tab) {
            <amw-tab [label]="tab.label">{{ tab.content }}</amw-tab>
          }
        </amw-tabs>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Note: Dynamic tabs require component logic</span>
        </div>
      }
      @case ('styled') {
        <amw-tabs color="accent">
          <amw-tab label="Primary Tab">Content with custom colors</amw-tab>
          <amw-tab label="Accent Tab">More content</amw-tab>
          <amw-tab label="Disabled" [disabled]="true">Disabled content</amw-tab>
        </amw-tabs>
      }
    }
  </ng-template>
</amw-code-doc>
