<amw-validation-doc
  componentName="amw-button"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-field">
      <amw-input
        formControlName="requiredField"
        label="Required Field"
        placeholder="This field is required">
      </amw-input>
      @if (getFieldError('requiredField')) {
        <div class="field-error">{{ getFieldError('requiredField') }}</div>
      }
    </div>

    <div class="form-field">
      <amw-input
        formControlName="emailField"
        label="Email Field"
        type="email"
        placeholder="Enter a valid email">
      </amw-input>
      @if (getFieldError('emailField')) {
        <div class="field-error">{{ getFieldError('emailField') }}</div>
      }
    </div>

    <div class="form-field">
      <amw-input
        formControlName="minLengthField"
        label="Min Length Field"
        placeholder="Minimum 5 characters">
      </amw-input>
      @if (getFieldError('minLengthField')) {
        <div class="field-error">{{ getFieldError('minLengthField') }}</div>
      }
    </div>

    <div class="form-field">
      <amw-input
        formControlName="maxLengthField"
        label="Max Length Field"
        placeholder="Maximum 10 characters">
      </amw-input>
      @if (getFieldError('maxLengthField')) {
        <div class="field-error">{{ getFieldError('maxLengthField') }}</div>
      }
    </div>
  </ng-template>
</amw-validation-doc>
