<amw-code-doc
  componentName="amw-sidenav"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-sidenav [opened]="sidenavOpened" mode="side">
          <ng-template #sidenavContent>
            <div class="sidenav-nav-list">
              <a href="#" class="nav-item">
                <amw-icon name="home"></amw-icon>
                <span>Home</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="person"></amw-icon>
                <span>Profile</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="settings"></amw-icon>
                <span>Settings</span>
              </a>
            </div>
          </ng-template>
          <ng-template #mainContent>
            <div class="sidenav-content-padding">
              <amw-button appearance="elevated" (click)="sidenavOpened = !sidenavOpened">
                Toggle Sidenav
              </amw-button>
              <p>Main content area. The sidenav stays open by default in side mode.</p>
            </div>
          </ng-template>
        </amw-sidenav>
      }
      @case ('overlay') {
        <amw-sidenav [(opened)]="overlaySidenavOpened" mode="over">
          <ng-template #sidenavContent>
            <div class="sidenav-nav-list">
              <a href="#" class="nav-item">
                <amw-icon name="home"></amw-icon>
                <span>Home</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="person"></amw-icon>
                <span>Profile</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="settings"></amw-icon>
                <span>Settings</span>
              </a>
            </div>
          </ng-template>
          <ng-template #mainContent>
            <div class="sidenav-content-padding">
              <amw-button appearance="elevated" (click)="overlaySidenavOpened = !overlaySidenavOpened">
                Toggle Sidenav
              </amw-button>
              <p>The sidenav overlays the content with a backdrop in over mode.</p>
            </div>
          </ng-template>
        </amw-sidenav>
      }
      @case ('push') {
        <amw-sidenav [(opened)]="pushSidenavOpened" mode="push">
          <ng-template #sidenavContent>
            <div class="sidenav-nav-list">
              <a href="#" class="nav-item">
                <amw-icon name="home"></amw-icon>
                <span>Home</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="person"></amw-icon>
                <span>Profile</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="settings"></amw-icon>
                <span>Settings</span>
              </a>
            </div>
          </ng-template>
          <ng-template #mainContent>
            <div class="sidenav-content-padding">
              <amw-button appearance="elevated" (click)="pushSidenavOpened = !pushSidenavOpened">
                Toggle Sidenav
              </amw-button>
              <p>The content is pushed to the side when sidenav opens in push mode.</p>
            </div>
          </ng-template>
        </amw-sidenav>
      }
      @case ('fixed') {
        <amw-sidenav [(opened)]="fixedSidenavOpened" mode="side" position="end">
          <ng-template #sidenavContent>
            <div class="sidenav-nav-list">
              <a href="#" class="nav-item">
                <amw-icon name="home"></amw-icon>
                <span>Home</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="person"></amw-icon>
                <span>Profile</span>
              </a>
              <a href="#" class="nav-item">
                <amw-icon name="settings"></amw-icon>
                <span>Settings</span>
              </a>
            </div>
          </ng-template>
          <ng-template #mainContent>
            <div class="sidenav-content-padding">
              <amw-button appearance="elevated" (click)="fixedSidenavOpened = !fixedSidenavOpened">
                Toggle Right Sidenav
              </amw-button>
              <p>The sidenav can be positioned on the right side using position="end".</p>
            </div>
          </ng-template>
        </amw-sidenav>
      }
    }
  </ng-template>
</amw-code-doc>
