<amw-sidenav
  [config]="sidenavConfig"
  [items]="navigationItems"
  [opened]="isSidenavOpen"
  [showToggle]="false"
  [showClose]="false"
  (openedChange)="onSidenavToggle($event)"
  (itemClick)="onItemClick($event)">

  <!-- Header Template -->
  <ng-template #headerTemplate>
    <amw-toolbar class="demo-sidenav-header">
      <span class="mdc-typography--title-large">AMW Library</span>
      <span class="spacer"></span>
      <amw-button variant="icon" icon="menu" (click)="toggleSidenav()"></amw-button>
    </amw-toolbar>
  </ng-template>

  <!-- Main Content (projected into sidenav content area) -->
  <amw-toolbar class="demo-main-toolbar">
    <amw-button variant="icon" icon="menu" (click)="toggleSidenav()" class="demo-menu-button"></amw-button>
    <span class="mdc-typography--headline-small">Angular Material Wrap - Demo Application</span>
    <span class="spacer"></span>
    <amw-demo-theme-menu></amw-demo-theme-menu>
  </amw-toolbar>

  <div class="demo-content-area">
    <router-outlet></router-outlet>
  </div>
</amw-sidenav>
