<div class="code-section">
  <h3>Code Examples</h3>
  <p>Here are practical code examples for different button use cases:</p>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Basic Button</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.basic }}</code></pre>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Button with Icon</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.withIcon }}</code></pre>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Floating Action Button (FAB)</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.fab }}</code></pre>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Loading State</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.loading }}</code></pre>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Disabled State</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.disabled }}</code></pre>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Event Handling</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="code-example">
      <pre><code>{{ codeExamples.eventHandling }}</code></pre>
    </div>
  </mat-expansion-panel>
</div>


