<amw-validation-doc
  componentName="amw-switch"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-field">
      <amw-switch
        formControlName="notificationsEnabled"
        [hasError]="hasSwitchError('notificationsEnabled')"
        [errorMessage]="getSwitchError('notificationsEnabled')">
        Enable Notifications (Required)
      </amw-switch>
      @if (hasSwitchError('notificationsEnabled')) {
        <div class="error-message">{{ getSwitchError('notificationsEnabled') }}</div>
      }
    </div>

    <div class="form-field">
      <amw-switch
        formControlName="darkModeEnabled">
        Dark Mode (Optional)
      </amw-switch>
    </div>

    <div class="form-field">
      <amw-switch
        formControlName="autoSaveEnabled"
        [hasError]="hasSwitchError('autoSaveEnabled')"
        [errorMessage]="getSwitchError('autoSaveEnabled')">
        Auto Save (Required)
      </amw-switch>
      @if (hasSwitchError('autoSaveEnabled')) {
        <div class="error-message">{{ getSwitchError('autoSaveEnabled') }}</div>
      }
    </div>

    <div class="form-field">
      <amw-switch
        formControlName="termsAccepted"
        [hasError]="hasSwitchError('termsAccepted')"
        [errorMessage]="getSwitchError('termsAccepted')">
        Accept Terms and Conditions (Required)
      </amw-switch>
      @if (hasSwitchError('termsAccepted')) {
        <div class="error-message">{{ getSwitchError('termsAccepted') }}</div>
      }
    </div>
  </ng-template>
</amw-validation-doc>
