<amw-code-doc
  componentName="amw-icon-button"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-icon-button
          icon="settings"
          ariaLabel="Settings"
          (buttonClick)="onSettingsClick()">
        </amw-icon-button>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Click the button and check the console</span>
        </div>
      }
      @case ('colors') {
        <div class="button-row">
          <amw-icon-button icon="favorite" ariaLabel="Favorite" color="primary"></amw-icon-button>
          <amw-icon-button icon="star" ariaLabel="Star" color="accent"></amw-icon-button>
          <amw-icon-button icon="delete" ariaLabel="Delete" color="warn"></amw-icon-button>
        </div>
      }
      @case ('sizes') {
        <div class="button-row">
          <amw-icon-button icon="menu" ariaLabel="Menu" size="sm"></amw-icon-button>
          <amw-icon-button icon="menu" ariaLabel="Menu" size="md"></amw-icon-button>
          <amw-icon-button icon="menu" ariaLabel="Menu" size="lg"></amw-icon-button>
        </div>
      }
      @case ('loading') {
        <amw-icon-button
          icon="refresh"
          ariaLabel="Refresh"
          [loading]="isLoading"
          (buttonClick)="refresh()">
        </amw-icon-button>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Click to see loading state</span>
        </div>
      }
      @case ('disabled') {
        <amw-icon-button
          icon="edit"
          ariaLabel="Edit"
          [disabled]="true">
        </amw-icon-button>
      }
    }
  </ng-template>
</amw-code-doc>
