<amw-code-doc
  componentName="amw-expansion-panel"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows a basic expansion panel</span>
        </div>
      }
      @case ('withDescription') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows a panel with title and description</span>
        </div>
      }
      @case ('accordion') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>In single mode, only one panel can be open at a time</span>
        </div>
      }
      @case ('multiMode') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>In multi mode, multiple panels can be open simultaneously</span>
        </div>
      }
      @case ('events') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for handling panel events</span>
        </div>
      }
      @case ('disabled') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Disabled panels cannot be expanded or collapsed</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
