<amw-code-doc
  componentName="amw-popover"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-popover [config]="{ position: 'bottom', showArrow: true }">
          <ng-template #trigger>
            <amw-button appearance="elevated">Hover Me</amw-button>
          </ng-template>
          <ng-template #content>
            <p>This is a basic popover</p>
          </ng-template>
        </amw-popover>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Click or hover over the button to see the popover</span>
        </div>
      }
      @case ('positions') {
        <div class="button-grid">
          <amw-popover [config]="{ position: 'top', showArrow: true }">
            <ng-template #trigger>
              <amw-button appearance="text">Top</amw-button>
            </ng-template>
            <ng-template #content>
              <p>Popover on top</p>
            </ng-template>
          </amw-popover>

          <amw-popover [config]="{ position: 'right', showArrow: true }">
            <ng-template #trigger>
              <amw-button appearance="text">Right</amw-button>
            </ng-template>
            <ng-template #content>
              <p>Popover on right</p>
            </ng-template>
          </amw-popover>

          <amw-popover [config]="{ position: 'bottom', showArrow: true }">
            <ng-template #trigger>
              <amw-button appearance="text">Bottom</amw-button>
            </ng-template>
            <ng-template #content>
              <p>Popover on bottom</p>
            </ng-template>
          </amw-popover>

          <amw-popover [config]="{ position: 'left', showArrow: true }">
            <ng-template #trigger>
              <amw-button appearance="text">Left</amw-button>
            </ng-template>
            <ng-template #content>
              <p>Popover on left</p>
            </ng-template>
          </amw-popover>
        </div>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Click each button to see different positions</span>
        </div>
      }
      @case ('styling') {
        <amw-popover [config]="{ position: 'bottom', showArrow: true, size: 'large' }">
          <ng-template #trigger>
            <amw-button appearance="elevated" color="primary">Custom Popover</amw-button>
          </ng-template>
          <ng-template #content>
            <p>Custom styled popover content</p>
          </ng-template>
        </amw-popover>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Apply custom configurations to style popovers</span>
        </div>
      }
      @case ('interactive') {
        <amw-popover
          [config]="{ position: 'bottom', showArrow: true, showClose: true, disabled: tooltipDisabled }">
          <ng-template #trigger>
            <amw-button appearance="elevated" (click)="toggleTooltip()">Toggle Popover</amw-button>
          </ng-template>
          <ng-template #content>
            <p>Click to show/hide</p>
          </ng-template>
        </amw-popover>
        <p class="status-text">Popover is {{ tooltipDisabled ? 'disabled' : 'enabled' }}</p>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Click to toggle popover state, check console for events</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
