<div class="color-picker-code">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Color Picker Code Examples</mat-card-title>
      <mat-card-subtitle>Implementation examples and code snippets</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Basic Usage">
          <div class="color-picker-code__example">
            <h3>{{ codeExamples.basic.title }}</h3>
            <p>{{ codeExamples.basic.description }}</p>
            
            <div class="color-picker-code__code-section">
              <h4>HTML Template</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.basic.html)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.basic.html }}</code></pre>
              </div>
            </div>
            
            <div class="color-picker-code__code-section">
              <h4>TypeScript Component</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.basic.typescript)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.basic.typescript }}</code></pre>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Mode Options">
          <div class="color-picker-code__example">
            <h3>{{ codeExamples.mode.title }}</h3>
            <p>{{ codeExamples.mode.description }}</p>
            
            <div class="color-picker-code__code-section">
              <h4>HTML Template</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.mode.html)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.mode.html }}</code></pre>
              </div>
            </div>
            
            <div class="color-picker-code__code-section">
              <h4>TypeScript Component</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.mode.typescript)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.mode.typescript }}</code></pre>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Form Validation">
          <div class="color-picker-code__example">
            <h3>{{ codeExamples.validation.title }}</h3>
            <p>{{ codeExamples.validation.description }}</p>
            
            <div class="color-picker-code__code-section">
              <h4>HTML Template</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.validation.html)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.validation.html }}</code></pre>
              </div>
            </div>
            
            <div class="color-picker-code__code-section">
              <h4>TypeScript Component</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.validation.typescript)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.validation.typescript }}</code></pre>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Configuration">
          <div class="color-picker-code__example">
            <h3>{{ codeExamples.configuration.title }}</h3>
            <p>{{ codeExamples.configuration.description }}</p>
            
            <div class="color-picker-code__code-section">
              <h4>HTML Template</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.configuration.html)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.configuration.html }}</code></pre>
              </div>
            </div>
            
            <div class="color-picker-code__code-section">
              <h4>TypeScript Component</h4>
              <div class="color-picker-code__code-block">
                <button mat-icon-button (click)="copyToClipboard(codeExamples.configuration.typescript)" class="color-picker-code__copy-btn">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ codeExamples.configuration.typescript }}</code></pre>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

