<amw-code-doc
  componentName="amw-color-picker"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-color-picker
          [(value)]="selectedColor"
          (colorChange)="onColorChange($event)">
        </amw-color-picker>
        <p>Selected color: {{ selectedColor }}</p>
      }
      @case ('mode') {
        <amw-color-picker
          [(value)]="customColor"
          mode="custom"
          (colorChange)="onColorChange($event)">
        </amw-color-picker>
        <p>Selected color: {{ customColor }}</p>
      }
      @case ('validation') {
        <form [formGroup]="colorForm">
          <amw-color-picker
            formControlName="color"
            label="Select Color *"
            placeholder="Choose color"
            [required]="true"
            [errorMessage]="colorForm.get('color')?.hasError('required') ? 'Color is required' : ''">
          </amw-color-picker>
        </form>
        <p>Form valid: {{ colorForm.valid ? 'Yes' : 'No' }}</p>
      }
      @case ('configuration') {
        <amw-color-picker
          [(value)]="advancedColor"
          mode="all"
          size="large"
          [disabled]="isDisabled"
          (colorChange)="onColorChange($event)">
        </amw-color-picker>
        <p>Selected color: {{ advancedColor }}</p>
        <amw-button appearance="text" (click)="isDisabled = !isDisabled">
          {{ isDisabled ? 'Enable' : 'Disable' }} Picker
        </amw-button>
      }
    }
  </ng-template>
</amw-code-doc>
