<amw-validation-doc
  componentName="amw-input"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <div class="form-row">
      <amw-input
        formControlName="requiredField"
        label="Required Field"
        placeholder="This field is required"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('requiredField')) {
        <div class="field-error">
          {{ getFieldError('requiredField') }}
        </div>
      }
    </div>

    <div class="form-row">
      <amw-input
        formControlName="emailField"
        type="email"
        label="Email Field"
        placeholder="Enter valid email"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('emailField')) {
        <div class="field-error">
          {{ getFieldError('emailField') }}
        </div>
      }
    </div>

    <div class="form-row">
      <amw-input
        formControlName="minLengthField"
        label="Minimum Length (3 chars)"
        placeholder="Enter at least 3 characters"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('minLengthField')) {
        <div class="field-error">
          {{ getFieldError('minLengthField') }}
        </div>
      }
    </div>

    <div class="form-row">
      <amw-input
        formControlName="maxLengthField"
        label="Maximum Length (10 chars)"
        placeholder="Enter max 10 characters"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('maxLengthField')) {
        <div class="field-error">
          {{ getFieldError('maxLengthField') }}
        </div>
      }
    </div>

    <div class="form-row">
      <amw-input
        formControlName="patternField"
        label="Pattern (Letters Only)"
        placeholder="Enter letters only"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('patternField')) {
        <div class="field-error">
          {{ getFieldError('patternField') }}
        </div>
      }
    </div>

    <div class="form-row">
      <amw-input
        formControlName="numberField"
        type="number"
        label="Number (1-100)"
        placeholder="Enter number between 1-100"
        [required]="true"
        appearance="outline">
      </amw-input>
      @if (getFieldError('numberField')) {
        <div class="field-error">
          {{ getFieldError('numberField') }}
        </div>
      }
    </div>
  </ng-template>
</amw-validation-doc>
