<div class="amw-demo-container">
  <div class="demo-header">
    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>
  </div>

  <div class="demo-content">
    <div class="demo-main">
      <amw-card class="demo-card">
        <ng-template #cardHeader>
          <h2>{{ selectedItem.name }}</h2>
          <p class="subtitle">Interactive demo and documentation</p>
        </ng-template>
        <ng-template #cardContent>
          <amw-tabs [(selectedIndex)]="selectedTab" class="demo-tabs">
            <amw-tab label="Variations" icon="view_module">
              @switch (selectedItem.id) {
                @case ('button') { <amw-demo-button></amw-demo-button> }
                @case ('input') { <amw-demo-input></amw-demo-input> }
                @case ('select') { <amw-demo-select></amw-demo-select> }
                @case ('checkbox') { <amw-demo-checkbox></amw-demo-checkbox> }
                @case ('radio') { <amw-demo-radio></amw-demo-radio> }
                @case ('radio-group') { <app-radio-group-demo></app-radio-group-demo> }
                @case ('chips') { <amw-demo-chips></amw-demo-chips> }
                @case ('toggle') { <amw-demo-toggle></amw-demo-toggle> }
                @case ('textarea') { <amw-demo-textarea></amw-demo-textarea> }
                @case ('slider') { <amw-demo-slider></amw-demo-slider> }
                @case ('autocomplete') { <amw-demo-autocomplete></amw-demo-autocomplete> }
                @case ('datepicker') { <amw-demo-datepicker></amw-demo-datepicker> }
                @case ('range-slider') { <amw-demo-range-slider></amw-demo-range-slider> }
                @case ('switch') { <amw-demo-switch></amw-demo-switch> }
                @case ('file-input') { <amw-demo-file-input></amw-demo-file-input> }
                @case ('timepicker') { <amw-demo-timepicker></amw-demo-timepicker> }
                @case ('color-picker') { <amw-demo-color-picker></amw-demo-color-picker> }
                @case ('data-table') { <app-data-table-demo></app-data-table-demo> }
                @case ('card') { <amw-demo-card></amw-demo-card> }
                @case ('dialog') { <amw-demo-dialog></amw-demo-dialog> }
                @case ('sidenav') { <app-sidenav-demo></app-sidenav-demo> }
                @case ('popover') { <app-popover-demo></app-popover-demo> }
                @case ('calendar') { <amw-demo-calendar></amw-demo-calendar> }
                @case ('stepper') { <amw-demo-stepper></amw-demo-stepper> }
                @case ('tabs') { <amw-demo-tabs></amw-demo-tabs> }
                @case ('accordion') { <amw-demo-accordion></amw-demo-accordion> }
                @case ('theme') { <amw-demo-theme></amw-demo-theme> }
              }
            </amw-tab>

            <amw-tab label="Validation" icon="verified">
              @switch (selectedItem.id) {
                @case ('button') { <amw-demo-button-validation></amw-demo-button-validation> }
                @case ('input') { <amw-demo-input-validation></amw-demo-input-validation> }
                @case ('select') { <amw-demo-select-validation></amw-demo-select-validation> }
                @case ('checkbox') { <amw-demo-checkbox-validation></amw-demo-checkbox-validation> }
                @case ('radio') { <amw-demo-radio-validation></amw-demo-radio-validation> }
                @case ('radio-group') { <app-radio-group-validation></app-radio-group-validation> }
                @case ('chips') { <amw-demo-chips-validation></amw-demo-chips-validation> }
                @case ('toggle') { <amw-demo-toggle-validation></amw-demo-toggle-validation> }
                @case ('textarea') { <amw-demo-textarea-validation></amw-demo-textarea-validation> }
                @case ('slider') { <amw-demo-slider-validation></amw-demo-slider-validation> }
                @case ('autocomplete') { <amw-demo-autocomplete-validation></amw-demo-autocomplete-validation> }
                @case ('datepicker') { <amw-demo-datepicker-validation></amw-demo-datepicker-validation> }
                @case ('range-slider') { <amw-demo-range-slider-validation></amw-demo-range-slider-validation> }
                @case ('switch') { <amw-demo-switch-validation></amw-demo-switch-validation> }
                @case ('file-input') { <amw-demo-file-input-validation></amw-demo-file-input-validation> }
                @case ('timepicker') { <amw-demo-timepicker-validation></amw-demo-timepicker-validation> }
                @case ('color-picker') { <amw-demo-color-picker-validation></amw-demo-color-picker-validation> }
                @case ('data-table') { <amw-demo-data-table-validation></amw-demo-data-table-validation> }
                @case ('card') { <amw-demo-card-validation></amw-demo-card-validation> }
                @case ('dialog') { <amw-demo-dialog-validation></amw-demo-dialog-validation> }
                @case ('sidenav') { <app-sidenav-validation></app-sidenav-validation> }
                @case ('popover') { <app-popover-validation></app-popover-validation> }
                @case ('calendar') { <amw-demo-calendar-validation></amw-demo-calendar-validation> }
                @case ('stepper') { <amw-demo-stepper-validation></amw-demo-stepper-validation> }
                @case ('tabs') { <amw-demo-tabs-validation></amw-demo-tabs-validation> }
                @case ('accordion') { <amw-demo-accordion-validation></amw-demo-accordion-validation> }
                @case ('theme') { <amw-demo-theme-validation></amw-demo-theme-validation> }
              }
            </amw-tab>

            <amw-tab label="Code" icon="code">
              @switch (selectedItem.id) {
                @case ('button') { <amw-demo-button-code></amw-demo-button-code> }
                @case ('input') { <amw-demo-input-code></amw-demo-input-code> }
                @case ('select') { <amw-demo-select-code></amw-demo-select-code> }
                @case ('checkbox') { <amw-demo-checkbox-code></amw-demo-checkbox-code> }
                @case ('radio') { <amw-demo-radio-code></amw-demo-radio-code> }
                @case ('radio-group') { <app-radio-group-code></app-radio-group-code> }
                @case ('chips') { <amw-demo-chips-code></amw-demo-chips-code> }
                @case ('toggle') { <amw-demo-toggle-code></amw-demo-toggle-code> }
                @case ('textarea') { <amw-demo-textarea-code></amw-demo-textarea-code> }
                @case ('slider') { <amw-demo-slider-code></amw-demo-slider-code> }
                @case ('autocomplete') { <amw-demo-autocomplete-code></amw-demo-autocomplete-code> }
                @case ('datepicker') { <amw-demo-datepicker-code></amw-demo-datepicker-code> }
                @case ('range-slider') { <amw-demo-range-slider-code></amw-demo-range-slider-code> }
                @case ('switch') { <amw-demo-switch-code></amw-demo-switch-code> }
                @case ('file-input') { <amw-demo-file-input-code></amw-demo-file-input-code> }
                @case ('timepicker') { <amw-demo-timepicker-code></amw-demo-timepicker-code> }
                @case ('color-picker') { <amw-demo-color-picker-code></amw-demo-color-picker-code> }
                @case ('data-table') { <amw-demo-data-table-code></amw-demo-data-table-code> }
                @case ('card') { <amw-demo-card-code></amw-demo-card-code> }
                @case ('dialog') { <amw-demo-dialog-code></amw-demo-dialog-code> }
                @case ('sidenav') { <app-sidenav-code></app-sidenav-code> }
                @case ('popover') { <app-popover-code></app-popover-code> }
                @case ('calendar') { <amw-demo-calendar-code></amw-demo-calendar-code> }
                @case ('stepper') { <amw-demo-stepper-code></amw-demo-stepper-code> }
                @case ('tabs') { <amw-demo-tabs-code></amw-demo-tabs-code> }
                @case ('accordion') { <amw-demo-accordion-code></amw-demo-accordion-code> }
                @case ('theme') { <amw-demo-theme-code></amw-demo-theme-code> }
              }
            </amw-tab>

            <amw-tab label="API" icon="description">
              @switch (selectedItem.id) {
                @case ('button') { <amw-demo-button-api></amw-demo-button-api> }
                @case ('input') { <amw-demo-input-api></amw-demo-input-api> }
                @case ('select') { <amw-demo-select-api></amw-demo-select-api> }
                @case ('checkbox') { <amw-demo-checkbox-api></amw-demo-checkbox-api> }
                @case ('radio') { <amw-demo-radio-api></amw-demo-radio-api> }
                @case ('radio-group') { <app-radio-group-api></app-radio-group-api> }
                @case ('chips') { <amw-demo-chips-api></amw-demo-chips-api> }
                @case ('toggle') { <amw-demo-toggle-api></amw-demo-toggle-api> }
                @case ('textarea') { <amw-demo-textarea-api></amw-demo-textarea-api> }
                @case ('slider') { <amw-demo-slider-api></amw-demo-slider-api> }
                @case ('autocomplete') { <amw-demo-autocomplete-api></amw-demo-autocomplete-api> }
                @case ('datepicker') { <amw-demo-datepicker-api></amw-demo-datepicker-api> }
                @case ('range-slider') { <amw-demo-range-slider-api></amw-demo-range-slider-api> }
                @case ('switch') { <amw-demo-switch-api></amw-demo-switch-api> }
                @case ('file-input') { <amw-demo-file-input-api></amw-demo-file-input-api> }
                @case ('timepicker') { <amw-demo-timepicker-api></amw-demo-timepicker-api> }
                @case ('color-picker') { <amw-demo-color-picker-api></amw-demo-color-picker-api> }
                @case ('data-table') { <amw-demo-data-table-api></amw-demo-data-table-api> }
                @case ('card') { <amw-demo-card-api></amw-demo-card-api> }
                @case ('dialog') { <amw-demo-dialog-api></amw-demo-dialog-api> }
                @case ('sidenav') { <app-sidenav-api></app-sidenav-api> }
                @case ('popover') { <app-popover-api></app-popover-api> }
                @case ('calendar') { <amw-demo-calendar-api></amw-demo-calendar-api> }
                @case ('stepper') { <amw-demo-stepper-api></amw-demo-stepper-api> }
                @case ('tabs') { <amw-demo-tabs-api></amw-demo-tabs-api> }
                @case ('accordion') { <amw-demo-accordion-api></amw-demo-accordion-api> }
                @case ('theme') { <amw-demo-theme-api></amw-demo-theme-api> }
              }
            </amw-tab>
          </amw-tabs>
        </ng-template>
      </amw-card>
    </div>
  </div>
</div>
