/* You can add global styles to this file, and also import other style files */

/* Import Angular Material Wrap Library Styles */
@use '../library/src/lib/styles.scss';

/* Import shared demo API/Code styles */
@use 'styles/demo-api-code-shared';

/* ==========================================================================
   DEMO-SPECIFIC STYLES
   ========================================================================== */


/* Roboto Font */
body {
  font-family: 'Roboto', sans-serif;
}

/* Calendar Item Editor Popover Styles */
.amw-calendar-item-editor-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(2px);
}
