<amw-validation-doc
  componentName="amw-slider"
  [validationForm]="validationForm"
  [validationInfo]="validationInfo">
  <ng-template #formContent>
    <!-- Volume Control -->
    <div class="form-section">
      <h4>Volume Control (0-100%)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="volume"
          label="Volume"
          [min]="0"
          [max]="100"
          [step]="1"
          [thumbLabel]="true"
          color="primary">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: {{ getFieldValue('volume') }}%</span>
          @if (getFieldError('volume')) {
            <div class="field-error">
              {{ getFieldError('volume') }}
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Brightness Control -->
    <div class="form-section">
      <h4>Brightness Control (10-100%)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="brightness"
          label="Brightness"
          [min]="10"
          [max]="100"
          [step]="5"
          [thumbLabel]="true"
          color="accent">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: {{ getFieldValue('brightness') }}%</span>
          @if (getFieldError('brightness')) {
            <div class="field-error">
              {{ getFieldError('brightness') }}
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Temperature Control -->
    <div class="form-section">
      <h4>Temperature Control (-10 to 40 degrees)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="temperature"
          label="Temperature"
          [min]="-10"
          [max]="40"
          [step]="1"
          [thumbLabel]="true"
          color="warn">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: {{ getFieldValue('temperature') }} degrees</span>
          @if (getFieldError('temperature')) {
            <div class="field-error">
              {{ getFieldError('temperature') }}
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Rating Control -->
    <div class="form-section">
      <h4>Rating Control (1-5 stars)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="rating"
          label="Rating"
          [min]="1"
          [max]="5"
          [step]="0.5"
          [thumbLabel]="true"
          color="primary">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: {{ getFieldValue('rating') }} stars</span>
          @if (getFieldError('rating')) {
            <div class="field-error">
              {{ getFieldError('rating') }}
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Progress Control -->
    <div class="form-section">
      <h4>Progress Control (0-100%)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="progress"
          label="Progress"
          [min]="0"
          [max]="100"
          [step]="5"
          [thumbLabel]="true"
          color="accent">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: {{ getFieldValue('progress') }}%</span>
          @if (getFieldError('progress')) {
            <div class="field-error">
              {{ getFieldError('progress') }}
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Price Range -->
    <div class="form-section">
      <h4>Price Range ($10 - $1000)</h4>
      <div class="slider-group">
        <amw-slider
          formControlName="price"
          label="Price"
          [min]="10"
          [max]="1000"
          [step]="10"
          [thumbLabel]="true"
          color="primary">
        </amw-slider>
        <div class="slider-info">
          <span class="current-value">Current: ${{ getFieldValue('price') }}</span>
          @if (getFieldError('price')) {
            <div class="field-error">
              {{ getFieldError('price') }}
            </div>
          }
        </div>
      </div>
    </div>
  </ng-template>
</amw-validation-doc>
