<div class="amw-demo-badge-code">
  <div class="code-section">
    <h3 class="code-section__title">Basic Usage</h3>
    <pre class="code-block"><code>{{ editableCode['basic'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Colors</h3>
    <pre class="code-block"><code>{{ editableCode['colors'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Positions</h3>
    <pre class="code-block"><code>{{ editableCode['positions'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Sizes</h3>
    <pre class="code-block"><code>{{ editableCode['sizes'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Hidden Badge</h3>
    <pre class="code-block"><code>{{ editableCode['hidden'] }}</code></pre>
  </div>
</div>
