<div class="tabs-demo">
  <h2>Tabs Component Demo</h2>
  <p>Interactive demonstration of the Material Tabs component with various configurations.</p>

  <div class="demo-section">
    <h3>Basic Tabs</h3>
    <amw-tabs>
      <amw-tab label="First">
        <div class="tab-content">
          <h4>First Tab Content</h4>
          <p>This is the content of the first tab. You can put any content here.</p>
          <amw-input
            label="Sample Input"
            placeholder="Enter some text">
          </amw-input>
        </div>
      </amw-tab>
      <amw-tab label="Second">
        <div class="tab-content">
          <h4>Second Tab Content</h4>
          <p>This is the content of the second tab with different content.</p>
          <amw-button variant="elevated" color="primary">Sample Button</amw-button>
        </div>
      </amw-tab>
      <amw-tab label="Third">
        <div class="tab-content">
          <h4>Third Tab Content</h4>
          <p>This is the content of the third tab.</p>
          <amw-card>
            <div slot="content">
              <h5>Sample Card</h5>
              <p>You can include any Angular Material components inside tabs.</p>
            </div>
          </amw-card>
        </div>
      </amw-tab>
    </amw-tabs>
  </div>

  <div class="demo-section">
    <h3>Tabs with Icons</h3>
    <amw-tabs>
      <amw-tab>
        <ng-template mat-tab-label>
          <mat-icon>home</mat-icon>
          Home
        </ng-template>
        <div class="tab-content">
          <h4>Home Tab</h4>
          <p>This tab has a home icon.</p>
        </div>
      </amw-tab>
      <amw-tab>
        <ng-template mat-tab-label>
          <mat-icon>settings</mat-icon>
          Settings
        </ng-template>
        <div class="tab-content">
          <h4>Settings Tab</h4>
          <p>This tab has a settings icon.</p>
        </div>
      </amw-tab>
      <amw-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          About
        </ng-template>
        <div class="tab-content">
          <h4>About Tab</h4>
          <p>This tab has an info icon.</p>
        </div>
      </amw-tab>
    </amw-tabs>
  </div>

  <div class="demo-section">
    <h3>Dynamic Tabs</h3>
    <div class="tab-controls">
      <amw-button variant="elevated" (click)="addTab()">Add Tab</amw-button>
      <amw-button variant="text" (click)="removeTab()" [disabled]="tabs.length <= 1">Remove Tab</amw-button>
    </div>
    <amw-tabs [(selectedIndex)]="selectedTabIndex">
      @for (tab of tabs; track tab; let i = $index) {
        <amw-tab [label]="tab.name">
          <div class="tab-content">
            <h4>{{ tab.name }}</h4>
            <p>This is dynamically created tab #{{ i + 1 }}</p>
            <p>Created at: {{ tab.createdAt | date:'short' }}</p>
          </div>
        </amw-tab>
      }
    </amw-tabs>
  </div>
</div>
