<amw-code-doc
  componentName="amw-autocomplete"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-autocomplete
          label="Country"
          [(ngModel)]="countryValue"
          placeholder="Select your country..."
          [options]="countryOptions"
          appearance="outline">
        </amw-autocomplete>
      }
      @case ('withValidation') {
        <amw-autocomplete
          label="Country"
          placeholder="Select your country..."
          [options]="countryOptions"
          [required]="true"
          hint="Country is required"
          appearance="outline">
        </amw-autocomplete>
      }
      @case ('withFiltering') {
        <amw-autocomplete
          label="Search Skills"
          [(ngModel)]="skillValue"
          placeholder="Type to search skills..."
          [options]="skillOptions"
          appearance="outline">
        </amw-autocomplete>
      }
      @case ('multipleSelection') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for multiple selection with chips</span>
        </div>
      }
      @case ('withCustomDisplay') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for custom display formatting</span>
        </div>
      }
      @case ('reactiveForm') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for reactive form integration</span>
        </div>
      }
      @case ('withEvents') {
        <amw-autocomplete
          label="Search"
          [(ngModel)]="searchValue"
          placeholder="Type to search..."
          [options]="skillOptions"
          (optionSelected)="onOptionSelected($event)"
          appearance="outline">
        </amw-autocomplete>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Open your browser console to see event logs</span>
        </div>
      }
      @case ('searchForm') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for a search form with multiple autocompletes</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
