<div class="data-table-code">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Data Table Code Examples</mat-card-title>
      <mat-card-subtitle>Implementation examples and code snippets</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let example of codeExamples | keyvalue" [label]="example.value.title">
          <div class="data-table-code__tab-content">
            <h3>{{ example.value.title }}</h3>
            <p>{{ example.value.description }}</p>
            
            <div class="data-table-code__example">
              <h4>HTML Template</h4>
              <div class="data-table-code__code-block">
                <button mat-icon-button class="data-table-code__copy-btn" (click)="copyToClipboard(example.value.html)">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ example.value.html }}</code></pre>
              </div>
            </div>
            
            <div class="data-table-code__example">
              <h4>TypeScript Component</h4>
              <div class="data-table-code__code-block">
                <button mat-icon-button class="data-table-code__copy-btn" (click)="copyToClipboard(example.value.typescript)">
                  <mat-icon>content_copy</mat-icon>
                </button>
                <pre><code>{{ example.value.typescript }}</code></pre>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>


