<amw-code-doc
  componentName="amw-checkbox"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-checkbox>Check me</amw-checkbox>
        <amw-checkbox [checked]="true">Checked</amw-checkbox>
        <amw-checkbox [indeterminate]="true">Indeterminate</amw-checkbox>
      }
      @case ('colors') {
        <amw-checkbox color="primary" [checked]="true">Primary</amw-checkbox>
        <amw-checkbox color="accent" [checked]="true">Accent</amw-checkbox>
        <amw-checkbox color="warn" [checked]="true">Warn</amw-checkbox>
      }
      @case ('states') {
        <amw-checkbox [checked]="true">Checked</amw-checkbox>
        <amw-checkbox [checked]="false">Unchecked</amw-checkbox>
        <amw-checkbox [indeterminate]="true">Indeterminate</amw-checkbox>
      }
      @case ('labelPosition') {
        <amw-checkbox labelPosition="before">Label before</amw-checkbox>
        <amw-checkbox labelPosition="after">Label after</amw-checkbox>
      }
      @case ('indeterminate') {
        <amw-checkbox
          [checked]="allComplete"
          [indeterminate]="someComplete()"
          (change)="setAll(!!$event)">
          {{task.name}}
        </amw-checkbox>
        <ul>
          @for (subtask of task.subtasks; track subtask.name) {
            <li>
              <amw-checkbox
                [(ngModel)]="subtask.completed"
                (ngModelChange)="updateAllComplete()">
                {{subtask.name}}
              </amw-checkbox>
            </li>
          }
        </ul>
      }
      @case ('disabled') {
        <amw-checkbox [disabled]="true">Disabled unchecked</amw-checkbox>
        <amw-checkbox [disabled]="true" [checked]="true">Disabled checked</amw-checkbox>
      }
      @case ('events') {
        <amw-checkbox
          (change)="onCheckboxChange($event)"
          (indeterminateChange)="onIndeterminateChange($event)">
          Event tracking
        </amw-checkbox>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Open your browser console to see event logs</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
