<amw-code-doc
  componentName="amw-slider"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-slider [min]="0" [max]="100" [(ngModel)]="volumeValue"></amw-slider>
        <p>Volume: {{volumeValue}}</p>
      }
      @case ('withThumbLabel') {
        <amw-slider [min]="0" [max]="100" [thumbLabel]="true" [(ngModel)]="brightnessValue"></amw-slider>
        <p>Brightness: {{brightnessValue}}%</p>
      }
      @case ('withSteps') {
        <amw-slider [min]="1" [max]="5" [step]="0.5" [thumbLabel]="true" [(ngModel)]="ratingValue"></amw-slider>
        <p>Rating: {{ratingValue}}</p>
      }
      @case ('differentColors') {
        <amw-slider color="primary" [min]="0" [max]="100" [(ngModel)]="primaryValue"></amw-slider>
        <p>Primary: {{primaryValue}}</p>

        <amw-slider color="accent" [min]="0" [max]="100" [(ngModel)]="accentValue"></amw-slider>
        <p>Accent: {{accentValue}}</p>

        <amw-slider color="warn" [min]="0" [max]="100" [(ngModel)]="warnValue"></amw-slider>
        <p>Warn: {{warnValue}}</p>
      }
      @case ('disabled') {
        <amw-slider [min]="0" [max]="100" [disabled]="true" [value]="50"></amw-slider>
        <p>Disabled slider at value 50</p>
      }
      @case ('reactiveForm') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for reactive form integration</span>
        </div>
      }
      @case ('withEvents') {
        <amw-slider [min]="0" [max]="100"
          [(ngModel)]="eventValue"
          (change)="onSliderChange($event)"
          (input)="onSliderInput($event)">
        </amw-slider>
        <p>Value: {{eventValue}}</p>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Open your browser console to see event logs</span>
        </div>
      }
      @case ('settingsPanel') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for a settings panel with multiple sliders</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
