<div class="amw-demo-components">
  <div class="components-header">
    <h1>Angular Material Components</h1>
    <p>Complex UI component combinations and advanced functionality</p>
  </div>

  <div class="components-content">
    <div class="components-main">
      <mat-card class="component-demo">
        <mat-card-header>
          <mat-card-title>{{ selectedComponent.name }}</mat-card-title>
          <mat-card-subtitle>Interactive demo and documentation</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group [(selectedIndex)]="selectedTab" class="component-tabs">
            <mat-tab label="Variations" icon="view_module">
              <ng-container [ngSwitch]="selectedComponent.id">
                <amw-demo-card *ngSwitchCase="'card'"></amw-demo-card>
                <amw-demo-dialog *ngSwitchCase="'dialog'"></amw-demo-dialog>
                <app-sidenav-demo *ngSwitchCase="'sidenav'"></app-sidenav-demo>
                <!-- Add more component demos as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="Validation" icon="verified">
              <ng-container [ngSwitch]="selectedComponent.id">
                <amw-demo-card-validation *ngSwitchCase="'card'"></amw-demo-card-validation>
                <amw-demo-dialog-validation *ngSwitchCase="'dialog'"></amw-demo-dialog-validation>
                <app-sidenav-validation *ngSwitchCase="'sidenav'"></app-sidenav-validation>
                <!-- Add more validation components as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="Code" icon="code">
              <ng-container [ngSwitch]="selectedComponent.id">
                <amw-demo-card-code *ngSwitchCase="'card'"></amw-demo-card-code>
                <amw-demo-dialog-code *ngSwitchCase="'dialog'"></amw-demo-dialog-code>
                <app-sidenav-code *ngSwitchCase="'sidenav'"></app-sidenav-code>
                <!-- Add more code components as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="API" icon="description">
              <ng-container [ngSwitch]="selectedComponent.id">
                <amw-demo-card-api *ngSwitchCase="'card'"></amw-demo-card-api>
                <amw-demo-dialog-api *ngSwitchCase="'dialog'"></amw-demo-dialog-api>
                <app-sidenav-api *ngSwitchCase="'sidenav'"></app-sidenav-api>
                <!-- Add more API components as they are implemented -->
              </ng-container>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>