<amw-code-doc
  componentName="amw-slider"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-slider
          [min]="0"
          [max]="100"
          [(value)]="startValue">
        </amw-slider>
        <p>Value: {{startValue}}</p>
      }
      @case ('configured') {
        <amw-slider
          [min]="0"
          [max]="1000"
          [step]="10"
          [(value)]="priceStart">
        </amw-slider>
        <p>Price: ${{priceStart}}</p>
      }
      @case ('vertical') {
        <div style="height: 300px;">
          <amw-slider
            [vertical]="true"
            [min]="0"
            [max]="100"
            [(value)]="endValue">
          </amw-slider>
        </div>
        <p>Vertical Value: {{endValue}}</p>
      }
      @case ('formControl') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for reactive form integration</span>
        </div>
      }
      @case ('validation') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for validation with error handling</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
