<div class="amw-demo-controls">
  <div class="controls-header">
    <h1>Angular Material Controls</h1>
    <p>Comprehensive collection of Angular Material control wrappers with enhanced functionality</p>
  </div>

  <div class="controls-content">
    <div class="controls-main">
      <mat-card class="control-demo">
        <mat-card-header>
          <mat-card-title>{{ selectedControl.name }}</mat-card-title>
          <mat-card-subtitle>Interactive demo and documentation</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group [(selectedIndex)]="selectedTab" class="control-tabs">
            <mat-tab label="Variations" icon="view_module">
              <ng-container [ngSwitch]="selectedControl.id">
                <amw-demo-button *ngSwitchCase="'button'"></amw-demo-button>
                <amw-demo-input *ngSwitchCase="'input'"></amw-demo-input>
                <amw-demo-select *ngSwitchCase="'select'"></amw-demo-select>
                <amw-demo-checkbox *ngSwitchCase="'checkbox'"></amw-demo-checkbox>
                <amw-demo-radio *ngSwitchCase="'radio'"></amw-demo-radio>
                <app-radio-group-demo *ngSwitchCase="'radio-group'"></app-radio-group-demo>
                <amw-demo-toggle *ngSwitchCase="'toggle'"></amw-demo-toggle>
                <amw-demo-textarea *ngSwitchCase="'textarea'"></amw-demo-textarea>
                <amw-demo-slider *ngSwitchCase="'slider'"></amw-demo-slider>
                <amw-demo-autocomplete *ngSwitchCase="'autocomplete'"></amw-demo-autocomplete>
                <amw-demo-datepicker *ngSwitchCase="'datepicker'"></amw-demo-datepicker>
                <amw-demo-range-slider *ngSwitchCase="'range-slider'"></amw-demo-range-slider>
                <amw-demo-switch *ngSwitchCase="'switch'"></amw-demo-switch>
                <amw-demo-file-input *ngSwitchCase="'file-input'"></amw-demo-file-input>
                <amw-demo-timepicker *ngSwitchCase="'timepicker'"></amw-demo-timepicker>
                <amw-demo-color-picker *ngSwitchCase="'color-picker'"></amw-demo-color-picker>
                <!-- Add more control demos as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="Validation" icon="verified">
              <ng-container [ngSwitch]="selectedControl.id">
                <amw-demo-button-validation *ngSwitchCase="'button'"></amw-demo-button-validation>
                <amw-demo-input-validation *ngSwitchCase="'input'"></amw-demo-input-validation>
                <amw-demo-select-validation *ngSwitchCase="'select'"></amw-demo-select-validation>
                <amw-demo-checkbox-validation *ngSwitchCase="'checkbox'"></amw-demo-checkbox-validation>
                <amw-demo-radio-validation *ngSwitchCase="'radio'"></amw-demo-radio-validation>
                <app-radio-group-validation *ngSwitchCase="'radio-group'"></app-radio-group-validation>
                <amw-demo-toggle-validation *ngSwitchCase="'toggle'"></amw-demo-toggle-validation>
                <amw-demo-textarea-validation *ngSwitchCase="'textarea'"></amw-demo-textarea-validation>
                <amw-demo-slider-validation *ngSwitchCase="'slider'"></amw-demo-slider-validation>
                <amw-demo-autocomplete-validation *ngSwitchCase="'autocomplete'"></amw-demo-autocomplete-validation>
                <amw-demo-datepicker-validation *ngSwitchCase="'datepicker'"></amw-demo-datepicker-validation>
                <amw-demo-range-slider-validation *ngSwitchCase="'range-slider'"></amw-demo-range-slider-validation>
                <amw-demo-switch-validation *ngSwitchCase="'switch'"></amw-demo-switch-validation>
                <amw-demo-file-input-validation *ngSwitchCase="'file-input'"></amw-demo-file-input-validation>
                <amw-demo-timepicker-validation *ngSwitchCase="'timepicker'"></amw-demo-timepicker-validation>
                <amw-demo-color-picker-validation *ngSwitchCase="'color-picker'"></amw-demo-color-picker-validation>
                <!-- Add more validation components as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="Code" icon="code">
              <ng-container [ngSwitch]="selectedControl.id">
                <amw-demo-button-code *ngSwitchCase="'button'"></amw-demo-button-code>
                <amw-demo-input-code *ngSwitchCase="'input'"></amw-demo-input-code>
                <amw-demo-select-code *ngSwitchCase="'select'"></amw-demo-select-code>
                <amw-demo-checkbox-code *ngSwitchCase="'checkbox'"></amw-demo-checkbox-code>
                <amw-demo-radio-code *ngSwitchCase="'radio'"></amw-demo-radio-code>
                <app-radio-group-code *ngSwitchCase="'radio-group'"></app-radio-group-code>
                <amw-demo-toggle-code *ngSwitchCase="'toggle'"></amw-demo-toggle-code>
                <amw-demo-textarea-code *ngSwitchCase="'textarea'"></amw-demo-textarea-code>
                <amw-demo-slider-code *ngSwitchCase="'slider'"></amw-demo-slider-code>
                <amw-demo-autocomplete-code *ngSwitchCase="'autocomplete'"></amw-demo-autocomplete-code>
                <amw-demo-datepicker-code *ngSwitchCase="'datepicker'"></amw-demo-datepicker-code>
                <amw-demo-range-slider-code *ngSwitchCase="'range-slider'"></amw-demo-range-slider-code>
                <amw-demo-switch-code *ngSwitchCase="'switch'"></amw-demo-switch-code>
                <amw-demo-file-input-code *ngSwitchCase="'file-input'"></amw-demo-file-input-code>
                <amw-demo-timepicker-code *ngSwitchCase="'timepicker'"></amw-demo-timepicker-code>
                <amw-demo-color-picker-code *ngSwitchCase="'color-picker'"></amw-demo-color-picker-code>
                <!-- Add more code components as they are implemented -->
              </ng-container>
            </mat-tab>
            
            <mat-tab label="API" icon="description">
              <ng-container [ngSwitch]="selectedControl.id">
                <amw-demo-button-api *ngSwitchCase="'button'"></amw-demo-button-api>
                <amw-demo-input-api *ngSwitchCase="'input'"></amw-demo-input-api>
                <amw-demo-select-api *ngSwitchCase="'select'"></amw-demo-select-api>
                <amw-demo-checkbox-api *ngSwitchCase="'checkbox'"></amw-demo-checkbox-api>
                <amw-demo-radio-api *ngSwitchCase="'radio'"></amw-demo-radio-api>
                <app-radio-group-api *ngSwitchCase="'radio-group'"></app-radio-group-api>
                <amw-demo-toggle-api *ngSwitchCase="'toggle'"></amw-demo-toggle-api>
                <amw-demo-textarea-api *ngSwitchCase="'textarea'"></amw-demo-textarea-api>
                <amw-demo-slider-api *ngSwitchCase="'slider'"></amw-demo-slider-api>
                <amw-demo-autocomplete-api *ngSwitchCase="'autocomplete'"></amw-demo-autocomplete-api>
                <amw-demo-datepicker-api *ngSwitchCase="'datepicker'"></amw-demo-datepicker-api>
                <amw-demo-range-slider-api *ngSwitchCase="'range-slider'"></amw-demo-range-slider-api>
                <amw-demo-switch-api *ngSwitchCase="'switch'"></amw-demo-switch-api>
                <amw-demo-file-input-api *ngSwitchCase="'file-input'"></amw-demo-file-input-api>
                <amw-demo-timepicker-api *ngSwitchCase="'timepicker'"></amw-demo-timepicker-api>
                <amw-demo-color-picker-api *ngSwitchCase="'color-picker'"></amw-demo-color-picker-api>
                <!-- Add more API components as they are implemented -->
              </ng-container>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
