<amw-code-doc
  componentName="amw-calendar-picker"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <amw-card headerTitle="Basic Calendar">
          <ng-template #cardContent>
            <amw-calendar-picker [(selected)]="selectedDate"></amw-calendar-picker>
          </ng-template>
        </amw-card>
      }
      @case ('range') {
        <amw-card headerTitle="Date Range Calendar">
          <ng-template #cardContent>
            <amw-calendar-picker
              [(selected)]="selectedDate"
              [startView]="'month'">
            </amw-calendar-picker>
          </ng-template>
        </amw-card>
      }
      @case ('minMax') {
        <amw-card headerTitle="Min/Max Date Calendar">
          <ng-template #cardContent>
            <amw-calendar-picker
              [(selected)]="selectedDate"
              [minDate]="minDate"
              [maxDate]="maxDate">
            </amw-calendar-picker>
          </ng-template>
        </amw-card>
      }
      @case ('filter') {
        <amw-card headerTitle="Filtered Calendar">
          <ng-template #cardContent>
            <amw-calendar-picker
              [(selected)]="selectedDate"
              [dateFilter]="myFilter">
            </amw-calendar-picker>
          </ng-template>
        </amw-card>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Note: Weekends are disabled in this example</span>
        </div>
      }
      @case ('customClass') {
        <amw-card headerTitle="Custom Styled Calendar">
          <ng-template #cardContent>
            <amw-calendar-picker
              [(selected)]="selectedDate"
              [dateClass]="dateClass">
            </amw-calendar-picker>
          </ng-template>
        </amw-card>
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Note: Dates that are multiples of 5 are highlighted</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
