<div class="amw-demo-divider-code">
  <div class="code-section">
    <h3 class="code-section__title">Basic Usage</h3>
    <pre class="code-block"><code>{{ editableCode['basic'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Vertical Divider</h3>
    <pre class="code-block"><code>{{ editableCode['vertical'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Inset Divider</h3>
    <pre class="code-block"><code>{{ editableCode['inset'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">In Lists</h3>
    <pre class="code-block"><code>{{ editableCode['list'] }}</code></pre>
  </div>

  <div class="code-section">
    <h3 class="code-section__title">Section Dividers</h3>
    <pre class="code-block"><code>{{ editableCode['sections'] }}</code></pre>
  </div>
</div>
