<amw-code-doc
  componentName="amw-table"
  [examples]="examples"
  [editableCode]="editableCode">

  <ng-template #preview let-example>
    @switch (example.key) {
      @case ('basic') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for a basic table with data source</span>
        </div>
      }
      @case ('withTrackBy') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>TrackBy improves performance by helping Angular identify which items have changed</span>
        </div>
      }
      @case ('withSort') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for table sorting functionality</span>
        </div>
      }
      @case ('withPagination') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>This example shows code for table pagination</span>
        </div>
      }
      @case ('directives') {
        <div class="preview-note">
          <amw-icon name="info"></amw-icon>
          <span>Directive-based tables allow custom column definitions and templates</span>
        </div>
      }
    }
  </ng-template>
</amw-code-doc>
